<table width="706" height="720" border="0" align="center" cellpadding="0" cellspacing="0" id="Table_01">
	<tr>
		<td>
			<img src="images/NewsletterV4_01.gif" width="706" height="160" alt=""></td>
	</tr>
	<tr>
		<td width="280" height="238" align="left" valign="top" background="images/NewsletterV4_02.gif"><div align="center"><span class="style5">Get your Holiday Host on.</span></div>
          <blockquote>
            <p>So you recently attended a friend&rsquo;s Host Committee party. And it was awesome. Now it&rsquo;s your turn to team up with some friends and play host.&nbsp;</p>
            <p>We&rsquo;ll handle the details.&nbsp;&nbsp;Private venue booking, an hour of open bar, DJ, and event staff &ndash; all for $20 per ticketed guest.</p>
            <p>And we&rsquo;ve got a few late-November openings left at some of our best spots.</p>
            <p><a href="{{sign_up_url}}">Sign Up</a> by November 20 and let&rsquo;s make this thing happen.</p>
        </blockquote></td>
  </tr>
	<tr>
		<td>
			<img src="images/NewsletterV4_03.jpg" width="706" height="322" alt=""></td>
	</tr>
</table>